<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=3"
        />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="stylesheet" href="static/css/oldstyle.css" />
        <title>Where Are Availabe Chargers?!</title>
    </head>

    <body>
        {{!container在此}}
        {{{container}}}

        <p align="center">
            GitHub项目地址：
            <a
                href="https://github.com/Golevka2001/Where-Are-Available-Chargers/issues"
            >
                Where-Are-Available-Chargers
            </a>
            <br />
            <br />
            您可以在 Issues 页面反馈遇到的问题
            <br />
            也可以提出希望加入的功能或加入开发
        </p>

        <br />
        <hr />
        <br />

        <p align="center">
            Copyright © <a href="https://github.com/Golevka2001">Gol3vka</a> and
            Csimide <br /><br />
            当前实例基于
            <a
                href="https://github.com/Golevka2001/Where-Are-Available-Chargers"
                >Where-Are-Available-Chargers</a
            >
            @
            <a
                href="https://github.com/Golevka2001/Where-Are-Available-Chargers/tree/dev"
                >dev</a
            >
        </p>
    </body>
</html>
