{{!通知 start}}
<div class="unresolved-incidents">
    <div class="unresolved-incident impact-minor">
        <div class="incident-title font-large">
            <a>提醒</a>
        </div>
        <div class="updates font-regular">
            <div class="update">
                <p>
                    <strong style="color: red">部分充电插座故障</strong> -
                    目前仍然存在零星充电桩不能充电。 如遇充电桩使用故障，请向充电桩设备上的联系电话报修。
                    <br/>
                </p>
                {{!
                <p>
                    <strong>请注意数据更新时间</strong> -
                    <span>显示的充电桩状态信息有约半分钟缓存，具体更新时间请在下方“更新于”内查看。</span>
                    <span style="color: red">空闲情况请以充电桩设备实际占用情况为准。请不要贸然拔掉他人的充电器。</span>
                    <span>我们正在适当调整数据刷新频率。</span>
                </p> }}
                <p>
                    <strong>202309 充电桩扩建</strong> -
                    <span style="color: green">当前已启用：东门北侧（临时编号N1~N4），南门东侧（编号A B）。</span><br />
                    目前校内正在安装新的电动自行车充电桩。在这些充电桩正式启用后，本站将提供查询功能。
                    如您在校内发现新安装/启用的电动自行车充电桩，请通过<a
                        href="https://survey.larksuite.com/m?t=sLfgofRTAwMi-5i3x"
                        target="_blank">反馈</a>功能与我们联系并告知具体位置，以便我们提供新安装充电桩的查询。
                    <br/>
                </p>
            </div>
        </div>
    </div>
</div>
{{!通知 end}}