<div class="container">
    <div
            class="page-status status-maintenance"
            style="padding-bottom: 0.5rem"
    >
        <span class="status font-large"> 正在维护 </span>
    </div>
    {{!通知 start}}
    <div class="unresolved-incidents">
        <div class="unresolved-incident impact-minor">
            <div class="incident-title font-large">
                <a>维护详情</a>
            </div>
            <div class="updates font-regular">
                <div class="update">
                    <p>
                        <strong style="color: red">维护事件示例</strong> -
                        维护说明
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{!通知 end}}
    <div class="page-footer border-color font-small">
    </div>
</div>