<div class="container">
    <div
            class="page-status status-maintenance"
            style="padding-bottom: 0.5rem"
    >
        <span class="status font-large"> 正在维护 </span>
    </div>
    {{!通知 start}}
    <div class="unresolved-incidents">
        <div class="unresolved-incident impact-minor">
            <div class="incident-title font-large">
                <a>故障详情</a>
            </div>
            <div class="updates font-regular">
                <div class="update">
                    <p>
                        <strong style="color: red">暂停服务</strong> -
                        目前由久安充电（百骑客）传入的数据有较大变化，我们正在处理。敬请谅解。
                        预计恢复时间会在下午 17:00 后。
                    </p>
                    <p>
                        <strong style="color: red">特别提醒</strong> -
                        目前久安充电小程序也有类似问题（部分充电桩占用的显示为空闲、空闲的显示为占用），我们已向百骑客公司反馈。
                        虎踞龙蟠上也有相关的贴子。在久安充电小程序恢复正常前，不建议前去充电！
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{!通知 end}}
    {{!
    <div style="display: flex">
        <span style="justify-content: center">
            例行维护中，请稍后再试。
        </span>
    </div>
    }}
    <div class="page-footer border-color font-small">
        {{!
                    <!--<a href="https://chargers-old.injs.eu/" class="history-footer-link"><span
                        style="font-family:arial">←</span> 返回旧版 </a>-->
                    <!--<div>如持续出现问题，请与实例维护者联系。</div>-->
                    }}
    </div>
</div>