<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- force IE browsers in compatibility mode to use their most aggressive rendering engine -->

    <meta charset="utf-8">
    <title>Where Are Available Chargers?!</title>

    <meta name="description" content="Find an available charger easily!" />

    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">-->

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <meta http-equiv="cleartype" content="on">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon" href="./static/img/apple-touch-icon.png">

    <link rel="stylesheet" href="./static/css/styles.pure.css">
    <link rel="stylesheet" href="./static/css/custom.css">

</head>


<body class="status index status-none" data-breakpoint-reached="false" id="page-top">

    <div class="layout-content status status-index starter">
        <div class="custom-header-container">
            <div
                class="header d-md-flex flex-md-justify-between flex-md-items-center px-4 py-3 text-center text-md-left bg-white box-shadow-large">
                <a href="/" class="text-gray-dark" style="font-size: 1.3rem; white-space: nowrap;">
                    <span class="no-dark-mode">&#x1F50C;&#x1F621;</span> Where Are Available Chargers
                </a>
            </div>

        </div>

        <div class="container">
            {{#error}}
            <div class="page-status status-major" style="padding-bottom: 0.5rem;">
                <span class="status font-large">
                    存在部分充电桩未获取到数据
                </span>
            </div>
            {{/error}}
            {{#chongzu}}
            <div class="page-status status-none" style="padding-bottom: 0.5rem;">
                <span class="status font-large">
                    充电桩余量充足
                </span>
            </div>
            {{/chongzu}}
            {{^chongzu}}
            <div class="page-status status-minor" style="padding-bottom: 0.5rem;">
                <span class="status font-large">
                    充电桩余量紧张
                </span>
            </div>
            {{/chongzu}}
            <div style="overflow: auto;">
                <span style="color: gray;font-size: smaller;">
                    请在确认实际占用情况后再充电。
                </span>
                <a href="./classical" style="font-size: smaller; float: right;">切换到经典界面</a>
            </div>
            <div class="components-section font-regular">
                <div class="components-container two-columns">
                    {{{ stations }}}
                </div>



            </div>

            <div style="display: flex; flex-direction:column;">
                <div style="max-width: 68rem; text-align: center;">
                    充电桩序号排序方法为从北向南、从西向东
                    <br />
                    图例：
                    <span class="num_green">1</span><span style="color: #28a745;">空闲</span>
                    <span class="num_orange">-</span><span style="color: #e67e22;">占用</span><br>
                </div>
                <div class="detail_box">
                    {{{ station_detail }}}
                </div>
            </div>


            <div class="page-footer border-color font-small" style="margin-bottom: 0px;">
                <a href="https://github.com/Golevka2001/Where-Are-Available-Chargers/tree/version-3"
                    class="history-footer-link"><span style="font-family:arial">←</span>GitHub Repo</a>
                <div>Ver 3 "🌊Water Wave" · 欢迎加入开发</div>
                <div>结果编号: {{ query_id }}</div>
            </div>

            <a href="" id="expired_tip_a" style="display: none;">
                <div id="expired_tip_d" class="page-status status-major">
                    <span id="expired_tip_s" class="status font-large expired_tip_message">
                        结果已过期，请点此刷新
                    </span>
                </div>
            </a>

        </div>

        <div class="custom-footer-container">
            <div class="footer mt-6 border-top" role="contentinfo">



                <div class="container-lg p-responsive f6 py-4 flex-justify-between flex-row-reverse flex-items-center">
                    <ul class="list-style-none d-flex text-gray">
                        <li class="mr-3">2022 - 2023 © Gol3vka and Csimide</li>
                        <li class="mr-3"><a href="https://github.com/Golevka2001/Where-Are-Available-Chargers"
                                class="link-gray">GitHub</a></li>
                    </ul>
                </div>
            </div>


        </div>


    </div>
</body>

<script src="./static/js/check_time.js"></script>

</html>
