<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- force IE browsers in compatibility mode to use their most aggressive rendering engine -->

    <meta charset="utf-8"/>
    <title>Where Are Available Chargers?!</title>

    <meta name="description" content="Find an available charger easily!"/>

    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">-->

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <meta http-equiv="cleartype" content="on"/>

    <link
            rel="shortcut icon"
            type="image/x-icon"
            href="./static/img/favicon.ico"
    />
    <link rel="shortcut icon" href="./static/img/favicon.ico"/>

    <meta name="format-detection" content="telephone=no"/>
    <link rel="apple-touch-icon" href="./static/img/apple-touch-icon.png"/>

    <link rel="stylesheet" href="./static/css/styles.pure.css"/>
    <link rel="stylesheet" href="./static/css/custom.css"/>

    {{!当不是正常界面时，不应该加载这两个JS}}
    {{#status_success}}
    <!--<script src="./static/js/weather.js" async></script>-->
        <!-- 这个JS需要单独适配，所以注释掉-->
    <script src="./static/js/check_time.js" defer></script>
    {{/status_success}}

    <!-- IE 9 及更低版本，提示跳转到经典页面 -->
    <!--[if IE]>
    <script type="text/javascript">
        if (window.confirm("此页面不支持 Internet Explorer 浏览器访问。点击“确认”将跳转到经典 UI 查询页面。")) {
            window.location.href = "./classical";
        }
    </script>
    <![endif]-->
</head>

<body
        class="status index status-none"
        data-breakpoint-reached="false"
        id="page-top"
>
<div class="layout-content status status-index starter">
    <div class="custom-header-container">
        <div
                class="header d-md-flex flex-md-justify-between flex-md-items-center px-4 py-3 text-center text-md-left bg-white box-shadow-large"
        >
            <a
                    class="text-gray-dark title-wide"
                    href=""
            >
                <span class="no-dark-mode">&#x1F50C;&#x1F621;</span>
                Where Are Available Chargers
            </a>

            <a
                    class="text-gray-dark title-narrow"
                    href=""
            >
                <span class="no-dark-mode">&#x1F50C;&#x1F621;</span>
                SEU Chargers
            </a>

            <nav class="f4 list-style-none mt-2 mt-md-0">
                <!--手机访问的时候是窄版-->
                <div class="nav-left-narrow">
                    <a
                            class="mr-3 mr-lg-4 py-2"
                            href="./static/img/map202308.webp"
                    >充电桩位置示意图</a
                    >
                    <a class="py-2 text-gray"
                       href="https://github.com/Golevka2001/Where-Are-Available-Chargers">GitHub</a>
                </div>
                <!--电脑访问的时候是宽版（两侧）-->
                <div class="nav-left-wide">
                    <a
                            class="py-2"
                            href="static/img/map202309_1_1.webp"
                            target="_blank"
                    >充电桩位置示意图</a
                    >
                </div>
            </nav>

            <nav class="f4 list-style-none text-md-right">
                <!--电脑访问的时候是宽版（两侧），手机访问不显示右侧-->
                <div class="nav-right">
                    <a class="mr-3 mr-lg-4 py-2 text-gray"
                       href="https://github.com/Golevka2001/Where-Are-Available-Chargers" target="_blank">GitHub</a>
                    <a class="py-2 text-gray" href="https://chargers.injs.eu/doc/" target="_blank">文档</a>
                </div>
            </nav>
        </div>
    </div>

    {{! mainpage_container 应该显示在这里}}
    {{{container}}}

    <div class="custom-footer-container">
        <div class="mt-6 border-top" role="contentinfo">
            <div
                    class="container-lg p-responsive f6 py-4 flex-justify-between flex-row-reverse flex-items-center"
            >
                <div
                        class="list-style-none text-gray"
                        style="display: flex; flex-flow: row wrap"
                >
                    <div class="mr-3">
                        © 2022-{{ copyright_year }} Gol3vka and Csimide
                    </div>
                    <div class="mr-3">Ver {{ display_version }}</div>
                </div>
                <div
                        class="list-style-none text-gray"
                        style="display: flex; flex-flow: row wrap"
                >
                    <div class="mr-3">
                        <a
                                href="https://github.com/Golevka2001/Where-Are-Available-Chargers"
                        >Source Code</a
                        >
                    </div>
                    <div class="mr-3">
                        <a
                                href="https://github.com/Golevka2001/Where-Are-Available-Chargers/issues"
                                target="_blank"
                        >Issues</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
