<div class="container">
    <a href="">
        <div
                class="page-status status-major"
                style="padding-bottom: 0.5rem"
        >
                        <span class="status font-large">
                            {{ error_message }}
                        </span>
        </div>
    </a>
    {{!通知应该显示在这里}}
</div>