<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=3" />
    <link rel="stylesheet" href="static/css/oldstyle.css" />
    <title>Where Are Availabe Chargers?!</title>
</head>

<body>
    <h1 align="center">&#x1F50C;&#x1F630; Where Are Available Chargers?!</h1>
    <p align="center">
        <span id="plug">&#x1F50C;</span>
        <span id="hand">&#x1F90F;</span>
        <span id="face">&#x1F630;</span>
        <span id="hand">&#x1F933;&nbsp&nbsp&nbsp</span>
        <br />
        <span id="motor">&#x1F6F5;</span>
    </p>

    <br />
    <hr />
    <br />

    <h2 align="center">&#x1F630; {{ message }}</h2>

    <br />
    <hr />
    <br />

    <p align="center">
        GitHub项目地址：
        <a href="https://github.com/Golevka2001/Where-Are-Available-Chargers/issues">
            Where-Are-Available-Chargers
        </a>
        <br />
        <br />
        您可以在 Issues 页面反馈遇到的问题
        <br />
        也可以提出希望加入的功能或加入开发
    </p>
    <p align="center">
        <a href="https://github.com/Golevka2001">
            Copyright © Gol3vka
        </a>
        <br><br>
        当前网页基于
        <a href="https://github.com/Golevka2001/Where-Are-Available-Chargers">Where-Are-Available-Chargers</a> @
        <a href="https://github.com/Golevka2001/Where-Are-Available-Chargers/tree/version-3">version-3</a>
    </p>

</body>

</html>
