<a href="#{{ station_name }}">
    <div class="component-container border-color">
        <div class="component-inner-container" style="color: black">
            <div class="name" style="font-size: 1.2rem">
                {{station_name}} <span style="color:gray; font-size: medium;"> 详情 <img
                        src="./static/img/right_arrow.svg" alt="&gt" width="10"></span>
            </div>

            <div style="display: flex; float: right; justify-content: center">
                <span style="margin-right: 5px; color: gray;">空插座数 </span>
                {{#enough}}<span class="fa-2x" style="color: #28a745">{{available_num}} </span>{{/enough}}
                {{^enough}}<span class="fa-2x" style="color: #e67e22">{{available_num}} </span>{{/enough}}
            </div>

            <span class="status-msg" style="margin-top: 0.5rem;"><span class="num_style_example">桩号</span>·余量:
                {{{remain}}}
        </div>
    </div>
</a>
