<div class="table_box" id="{{ station_name }}">
    {{ station_name }} · <a href="#head-status-1">回到顶部</a>
    <table class="gridtable">
        <tbody>
            <tr>
                <th>编号</th>
                <th>插座状态</th>
            </tr>
            {{{ charger_detail }}}
        </tbody>
    </table>
</div>