# Editors and IDEs
.idea
.vscode

# Environment
.env*

# Dependencies
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Compiled output
dist/
build/

# Lock files
# package-lock.json
# yarn.lock
