<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=3" />
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Where Are Availabe Chargers?!</title>
</head>

<body>
    <h1 align="center">&#x1F50C;&#x1F630; Where Are Available Chargers?!</h1>
    <p align="center">
        <span id="plug">&#x1F50C;</span>
        <span id="hand">&#x1F90F;</span>
        <span id="face">&#x1F630;</span>
        <span id="hand">&#x1F933;&nbsp&nbsp&nbsp</span>
        <br />
        <span id="motor">&#x1F6F5;</span>
    </p>

    <br />
    <hr />
    <br />

    <h2 align="center">&#x1F630; 请求错误，请稍后重试 ...</h2>
    <p align="center">
        <a href="/">
            点此重试
        </a>
    </p>

</body>

</html>