<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=3" />
    <link rel="stylesheet" href="/static/css/history.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="http://cdn.staticfile.org/moment.js/2.24.0/moment.js"></script>
    <script src="http://cdn.staticfile.org/moment-timezone/0.5.25/moment-timezone-with-data.js"></script>

    <title>Where Are Availabe Chargers?!</title>
</head>

<body>
    <h1 align="center">&#x1F50C;&#x1F9D0; Where Are Available Chargers?!</h1>
    <p align="center">
        <span id="plug">&#x1F50C;</span>
        <span id="hand">&#x1F90F;</span>
        <span id="face">&#x1F9D0;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        <br />
        <span id="motor">&#x1F6F5;</span>
    </p>

    <br />
    <hr />

    <div class="calendar">
        <div class="calendar-inner">
            <div class="calendar-controls">
                <div class="calendar-prev">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128">
                            <path fill="#666"
                                d="M88.2 3.8L35.8 56.23 28 64l7.8 7.78 52.4 52.4 9.78-7.76L45.58 64l52.4-52.4z">
                            </path>
                        </svg>
                    </a>
                </div>
                <div class="calendar-year-month">
                    <div class="calendar-month-label"></div>
                    <div>-</div>
                    <div class="calendar-year-label"></div>
                </div>
                <div class="calendar-next">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128">
                            <path fill="#666"
                                d="M38.8 124.2l52.4-52.42L99 64l-7.77-7.78-52.4-52.4-9.8 7.77L81.44 64 29 116.42z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="calendar-today-date"></div>
            <div class="calendar-weekday">
            </div>
            <div class="calendar-body"></div>
        </div>
    </div>


    <div align="center" class="history"></div>
    <script src="/static/js/history.js"></script>

    <br />
    <hr />
    <br />

    <p align="center">
        <a href="https://github.com/Golevka2001">
            Copyright © Gol3vka
        </a>
        <br><br>
        当前网页基于
        <a href="https://github.com/Golevka2001/Where-Are-Available-Chargers">Where-Are-Available-Chargers</a> @
        <a href="https://github.com/Golevka2001/Where-Are-Available-Chargers/tree/{{ version }}">{{ version[:7]
            }}</a>
    </p>
</body>

</html>
