<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=3" />
    <meta http-equiv="refresh" content="2">
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/loading.js"></script>
    <title>Where Are Availabe Chargers?!</title>
</head>

<body>
    <h1 align="center">&#x1F50C;&#x1F621; Where Are Available Chargers?!</h1>
    <p align="center">
        <span id="plug">&#x1F50C;</span>
        <span id="hand">&#x1F90F;</span>
        <span id="face">&#x1F605;</span>
        <span id="hand">&#x1F595;&nbsp&nbsp&nbsp</span>
        <br />
        <span id="motor">&#x1F6F5;</span>
    </p>

    <br />
    <hr />
    <br />

    <h2 align="center">正在获取最新数据，请稍等...</h2>
    <p align="center" class="text">获取数据约需3秒</p>
    <p align="center" class="text">获取完成后，本页会自动刷新</p>

    <br />

    <br />
    <hr />
    <br />

    <p align="center">
        <a href="https://github.com/Golevka2001">
            Copyright © Gol3vka
        </a>
        <br><br>
        当前网页基于
        <a href="https://github.com/Golevka2001/Where-Are-Available-Chargers">Where-Are-Available-Chargers/dev</a> @
        <a href="https://github.com/Golevka2001/Where-Are-Available-Chargers/tree/{{ version }}">{{ version[:7] }}</a>
    </p>
</body>

</html>